body {
    width: 100%;
}

.containerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: yellow;
    height: 6em;
    align-items: center;
}

.listTop {
    margin: 0px;
    display: flex;
    align-items: center;
}

.listTop > li {
    margin: 0px 11px;
}