body {
    width: 100%;
}
/* Header */
.containerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #eec14b;
    height: 6em;
    align-items: center;
    border-bottom: 1px solid;
}

.listTop {
    margin: 0px;
    display: flex;
    align-items: center;
}

.listTop > li {
    margin: 0px 11px;
    list-style: none;
}

button {
    padding: 12px;
    border: 0px solid;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.containerM {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid;
    background-color: #eec14b;
}
.stayCurious > h1 {
    font-size: 8em;
    margin: 27px 0px
}

.stayCurious > p {
    font-size: 28px;
    margin: 35px 0px;
}

.btnRead {
    padding: 12px 37px;
    margin-top: 1rem;
}
/* Treding  mid */
.tredingMid {
    margin: 1em 13em;
    /*padding: 1px 0em; 
    width: 76%;*/
    flex-direction: column;
}
.signoTreding {
    display: flex;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.box > .n {
    font-size: 2em;
    margin-right: 10px;
    color: #80808066;
    font-weight: 600;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1em;
    padding: 6px;
}

.textWeight {
    font-weight: 600;
}

.boxes > .box {
    margin: 21px 3px;
    width: 26em;
    display: flex;
    height: 8em;
}

.imgBox {
    display: flex;
    align-items: center;
}
.imgBox > img {
    width: 21px;
    border-radius: 20px;
}

/* bot */

.containerbot {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

.notice {
    width: 56em;
}

.boxesBot {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-bottom: 45px;
}
.textbot {
    margin-right: 22px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.textbot :first-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
}

.textbot :last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textbot h2 {
    font-size: 30px;
}

.textbot p {
    font-size: 1.2em;
}

.textbot > img {
    width: 16rem;
}

.imgBot1 img {
    width: 16rem;
}



/* Footer */


.footer {
    width: 23em;
}

.footerTitle {
font-weight: 600;
    font-size: 1.1em;
}
.footerList {
    display: flex;
    margin: 10px 0px;
}

.footerList ul {
    display: flex;
    flex-wrap: wrap;
}

.footerList > ul li {
    margin: 2px;
    padding: 0px 10px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid;
}

/* service  */

.service {
    display: flex;
    margin: 10px 0px;
}

.service ul {
    display: flex;
    flex-wrap: wrap;
}

.service > ul li {
    margin: 0px;
    padding: 0px 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}